<!DOCTYPE html>
<html ng-app="application">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" initial-scale=1 />
    <title>OS2Indberetning</title>





    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="http://septima.dk/os2routemap/css/leaflet-routing-machine.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="http://septima.dk/os2routemap/js/os2routemap.js"></script>

    @Styles.Render("~/Content/css")
    <link href="../../Content/private.css" rel="stylesheet" />
    
    <link rel="icon"
          type="image/png"
          href="~/Content/favicon.ico">
</head>
<body class="scrollme ng-cloak" ng-cloak="ng-cloak" ng-scrollbar rebuild-on-resize ng-init="menuCollapse = false">
    <div id="wrapper" ng-class="{mainMenuCollapse: menuCollapse == true}" ng-controller="MainMenuController">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="navbar-brand" ng-click="menuCollapse = !menuCollapse">
                    <i class="fa fa-bars"></i>
                    <label href="#">OS2Indberetning</label> 

                </div>
                <img class="pull-right margin-top-5" src="../../logo.png" alt="" />
            </div>
            <!-- Top Menu Items -->
            <div class="pull-right margin-top-15 margin-right-10">
                <span style="color: #FFF"><a href="{{helpLink.text}}" target="_blank">Information og vejledning</a> -
                    {{UserName}}
                </span>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div ng-hide="menuCollapse">
                <div class="navbar-collapse ng-cloak">
                    <ul class="nav navbar-nav side-nav">
                        <li ui-sref-active="active">
                            <a ui-sref="driving"><i class="fa fa-fw fa-bar-chart-o"></i> Indberet tjenestekørsel</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="myreports"><i class="fa fa-fw fa-table"></i> Mine indberetninger</a>
                        </li>
                        <li ui-sref-active="active" class="ng-hide" ng-hide="!showApproveReports">
                            <a ui-sref="approvereports"><i class="fa fa-fw fa-edit"></i> Godkend indberetninger</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="settings"><i class="fa fa-fw fa-desktop"></i> Personlige indstillinger</a>
                        </li>
                        <li ui-sref-active="active" class="ng-hide" ng-hide="!showAdministration">
                            <a ui-sref="admin"><i class="fa fa-fw fa-wrench"></i> Administrator</a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        @RenderBody()



    </div>

    <div class="errors-container">

    </div>

    <!-- REQUIERED LIBRARIES FOR AWS SNIPPET -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    @*<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css"
          type="text/css" rel="Stylesheet" />*@
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.css"
          type="text/css" rel="Stylesheet" />

    @Scripts.Render("~/bundles/libraries")

    @Scripts.Render("~/bundles/angular")


    @RenderSection("scripts", required: false)
    <script>
        $(document).ready($('#mastertab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        }));
    </script>






</body>

</html>
