<!DOCTYPE html>
<html ng-app="application">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.common-material.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.material.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.material.mobile.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.dataviz.min.css" rel="stylesheet">
    <link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.dataviz.material.min.css" rel="stylesheet">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    

</head>
<body class="scrollme" ng-scrollbar rebuild-on-resize>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">OS2Indberetning</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            Fornavn Mellemnavn Efternavn
                        </li>
                        <li class="divider"></li>
                        <li>
                            Adresse
                        </li>
                        <li class="divider"></li>
                        <li>
                            Email
                        </li>
                        <li class="divider"></li>
                        <li>
                            Telefonnummer
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="frontpage" href=""><i class="fa fa-fw fa-dashboard"></i> Forside</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="driving"><i class="fa fa-fw fa-bar-chart-o"></i> Kørsel</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="myreports"><i class="fa fa-fw fa-table"></i> Mine Indberetninger</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="approvereports"><i class="fa fa-fw fa-edit"></i> Godkend indberetninger</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="settings"><i class="fa fa-fw fa-desktop"></i> Indstillinger</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="admin"><i class="fa fa-fw fa-wrench"></i> Admin</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>        
      

            @RenderBody()

       

    </div>
    
    <div class="errors-container">

    </div>

    <!-- REQUIERED LIBRARIES FOR AWS SNIPPET -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css"
          type="text/css" rel="Stylesheet" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/redmond/jquery-ui.css"
          type="text/css" rel="Stylesheet" />

    @Scripts.Render("~/bundles/libraries")
    <script src="http://cdn.kendostatic.com/2014.3.1119/js/kendo.all.min.js"></script>
    <script src="http://kendo-labs.github.io/angular-kendo/angular-kendo.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")   
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready($('#mastertab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        }));
    </script>

</body>

</html>
